source_host=dev-sample-rds.sample.ap-northeast-2.rds.amazonaws.com
source_port=3306
source_schema_db=sample_schema
source_username=admin
source_password=sample!
source_client=MariaDB

target_host=dev-sample-rds.sample.ap-northeast-2.rds.amazonaws.com
target_port=3306
target_schema_db=sample_schema
target_username=admin
target_password=sample!
target_client=MariaDB

context_path=/Users/choehagjun/batch-python
schema_list=[sample.schema]
log_file_name=logs/pabat.log
